.content {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f7bd96;

  color: #ffff;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.content * {
  box-sizing: inherit;
}

@media (max-width: 768px) {
  .content {
    max-width: 90%;
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .content {
    max-width: 100%;
    padding: 0 0.5rem;
  }
}

.title a {
  color: #ffff;
  text-decoration: none;
}

.logoText {
  position: absolute;
  width: 293px;
  height: 70px;
  left: 136px;
  top: 80px;

  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 68px;
  text-transform: uppercase;
}

.logoTextBold {
  position: absolute;
  width: 293px;
  height: 79px;
  left: 332px;
  top: 64px;

  font-style: normal;
  font-weight: 800;
  font-size: 66px;
  line-height: 90px;
  text-transform: uppercase;
}

.createAccount {
  position: absolute;
  width: 104px;
  height: 20px;
  left: 1043px;
  top: 130px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.signInButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  position: absolute;
  width: 90px;
  height: 40px;
  left: 1057px;
  top: 83px;
  border: 2px solid #ffff;
  border-radius: 10px;
  background-color: #f7bd96;
  color: white;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

.signInButton:hover {
  background-color: #ffff;
  color: #f7bd96;
  transform: "scale(0.98)";
}

.postContainer {
  position: absolute;
  width: 799px;
  height: 539px;
  bottom: 83px;
  left: 339px;
  top: 178px;
  background: #ffffff;
  border-radius: 10px;
}

.menuBar {
  font-family: "avenir";
  position: absolute;
  width: 203px;
  height: 231px;
  left: 136px;
  top: 178px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  list-style: none;
}

.userProfile {
  position: absolute;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;

  left: 88%;
  top: 4.5%;
  color: #323233;
}

.userProfileAvatar {
  position: absolute;
  left: 92.54%;
  right: 0%;
  top: 2%;
  bottom: 0%;
}

.postedImage {
  position: absolute;
  left: 0%;
  right: 32.54%;
  top: 0%;
  bottom: 0%;
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/078/725/original/IMG_1913.jpeg?1682359163);
  background-size: cover;
  background-position: center;
  border-radius: 10px 0px 0px 10px;
}

.coffeeData {
  position: absolute;
  left: 70.34%;
  right: 0.38%;
  top: 11.69%;
  bottom: 67.9%;

  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #323233;
}

.postSubtitle {
  position: absolute;
  left: 70.34%;
  right: 0.38%;
  top: 32.1%;
  bottom: 55.47%;
  padding-top: 27px;

  font-family: "Avenir";
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #323233;
}

.postCommentsContainer {
  position: absolute;
  left: 70.34%;
  right: 6.13%;
  top: 48.42%;
  bottom: 16.7%;
}
.followerProfileAvatar {
  position: absolute;
  left: 0%;
  right: 89.36%;
  top: 0%;
  bottom: 89.36%;
  width: 20px;
  height: 20px;

  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/078/725/original/IMG_1913.jpeg?1682359163);
  border: 1px solid #323233;
}

.followerComments {
  position: absolute;
  left: 15.43%;
  right: 0%;
  top: 0%;
  bottom: 89.36%;

  font-family: "Avenir";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #ff9751;
}
